
*.pdb
*.v2
*.vsidx
*.vsidx
API/.vs/API/v17/.suo
*.dll
*.pdb
*.dll
*.db
*.db-shm
*.db-wal
*.dll
API/obj/Debug/net6.0/refint/API.dll
API/obj/Debug/net6.0/ref/API.dll
API/obj/Debug/net6.0/API.pdb
API/obj/Debug/net6.0/API.dll
API/Data/Beta.db-wal
API/Data/Beta.db-shm
API/Data/Beta.db
API/bin/Debug/net6.0/API.pdb
API/bin/Debug/net6.0/API.dll
API/.vs/API/v17/.suo
API/.vs/API/FileContentIndex/bbde1ac8-d850-4e4a-8448-3cb785daa81d.vsidx
API/.vs/API/FileContentIndex/ab26fbb9-21a4-467e-9e1b-d2bb165306c9.vsidx
API/.vs/API/DesignTimeBuild/.dtbcache.v2
