.resource-list {
    display: flex;
    flex-wrap: wrap;
}

.building-list {
    display: flex;
    flex-direction: column;
}

.building {
    text-decoration: none;
}

.list-container {
}

.base-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resource-component {
    padding: 0 0.5rem;
    text-decoration: none;
}

.text-left {
    text-align: left;
    padding-bottom: 0;
    margin-left: 0.4rem;
    margin-bottom: 0;
}